{% extends 'base.html' %}

{% block title %}Ajuster Stock{% endblock title %}

{% block content %}
<div>
    <center class="h1 p-4">Ajuster Stock</center>
<div class="w-75 mx-auto">
    <div class="table-responsive">
        <table class="table table-striped table-bordered shadow-sm">
            <thead>
                <th>CodeP</th>
                <th>Designation</th>
                <th>PrixUnite</th>
                <th>PrixVente</th>
                <th>Quantité</th>
            </thead>
                <tbody>
                     <td>{{ stock.produit.CodeP }}</td>
                     <td>{{ stock.produit.designation }}</td>
                     <td>{{ stock.Prix.PrixUnite }}</td>
                     <td>{{ stock.Prix.PrixVente }}</td>
                     <td>{{ stock.Qtp }}</td>
                </tbody>
        </table>
    </div>
</div>
    <form action="" method="post" class="d-flex flex-column text-black flex-wrap align-items-start gap-4 mx-auto mt-4 max_content">
       {% csrf_token %}
       {%for field in form%}
        <div class="form-group">
          <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
          {{field}}
        </div>
       {%endfor%}
       <button type="submit" class="btn btn-primary d-inline">Valider</button>
    </form>
</div>
{% endblock content %}
