{% extends 'base.html' %}
{% block title %}Bon de Commande{% endblock title %}



{% block content %}
<div class="background-light maincontent">
    <center class="h2 mt-4">Bon De Commande</center>
    <form action="" method="POST" class="d-flex flex-column flex-wrap align-items-center gap-4 mx-auto mt-4 max_content">
        {% csrf_token %}
        <div class="d-flex gap-3">
        {%for field in form%}
        <div>
          <label for="{{ field.auto_id }}">{{ field.label }} : </label>
          {{field}}
        </div>
       {%endfor%}
       </div>
        <div class="produits">
            {% for produitform in listproduitform %}
                <p class="d-flex gap-4">
                {{ produitform }}
                </p>
            {% endfor %}
        </div>
        
        <!--<p></p><button id="add">+</button><p>-->
        <button type="button" class="btn btn-primary" id="add">Ajouter produit +</button>
        <button type="submit" class="btn btn-danger">créer le bon commande</button>
    </form>
    {% if file %}
        <!--si le path du fichier est différent du None -->
        <center><a href="{% url 'download_file' file %}" class="btn btn-info mt-5" download>télécharger le bon de commande</a></center>
    {% endif %}
</div>
{% endblock content %}

{% block script %}
    <script>
        function add() {
            const div = document.getElementsByClassName("produits")[0];
            const prod = div.getElementsByTagName("p")[0];
            div.append(prod.cloneNode(true));
        }

        const btn_add = document.getElementById("add");
        btn_add.addEventListener("click",add); 

    </script>
{% endblock script %}