<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
</head>
<body>
    <h1>Liste des Clients</h1>
    <table border="1">
        <thead>
            <th>nom</th>
            <th>prenom</th>
            <th>adresse</th>
            <th>phone</th>
            <th>crédit</th>
        </thead>
        {% for client in clients %}
            <tbody>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.pohne }}</td>
                <td>{{ client.credit }}</td>
            </tbody>
        {% endfor %}
    </table>
</body>
</html>