{% extends 'base.html' %}
{% block title %}Destockage{% endblock title %}

{% block content %}
<body class="green text-white">
    <center class="h2 mt-4">Déstocker</center>
    <form action="" method="post"  class="d-flex flex-column flex-wrap align-items-center gap-4 mx-auto mt-4 max_content">
        {% csrf_token %}
        {%for field in form%}
        <div class="form-group">
          <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
           {{field}}
        </div>
       {%endfor%}
        <button type="submit" class="btn btn-primary">confirmer</button>
        <a href="{% url 'stock' %}" class="btn btn-warning">retour</a>
    </form>
</body>
{% endblock content %}