{% extends 'base.html' %}
{% block title %}Destockage{% endblock title %}

{% block content %}
<div class="green maincontent">
    <center class="h2 pt-4">Déstocker</center>
    <form action="" method="post"  class="d-flex flex-column flex-wrap align-items-center gap-4 mx-auto mt-4 max_content">
        {% csrf_token %}
        <div class="form-group">
          <label class="form-label" for="id_motif">Motif</label>
           <input type="text" name="motif" class="form-control" maxlength="30"  id="id_motif" required>
        </div>
        <div class="form-group">
          <label class="form-label" for="id_qt">Quantité déstocké</label>
           <input type="number" name="qt" value="0" class="form-control" id="id_qt" max = '{{max}}' required>
        </div>
        <button type="submit" class="btn btn-primary">confirmer</button>
        <a href="{% url 'stock' %}" class="btn btn-warning">retour</a>
    </form>
</div>
{% endblock content %}