{% extends 'base.html' %}
{% block title %}Facture{% endblock title %}

{% block content %}
<body class= "green">
  <div class="container py-5">
  <header class="text-center text-white">
    <h1 class="display-4">Liste des Produits de la facture N°{{facture.numero}}</h1>
  </header>
  <div class="row py-5">
    <div class="col-lg-10 mx-auto">
      <div class="card rounded shadow border-0">
        <div class="card-body p-5 bg-white rounded">
          <div class="table-responsive">
            <table id="noSearch" style="width:100%" class="table table-striped table-bordered">
              <thead>
                <tr>
                    <th>CodeP</th>
                    <th>Designation</th>
                    <th>PrixUnite</th>
                    <th>PrixVente</th>
                    <th>Quantite</th>
                    <th>HT</th>
                </tr>
              </thead>
              <tbody>
                {% for p in facture.avoir_set.all %}
                <tr>
                    <td>{{ p.produit.CodeP }}</td>
                    <td>{{ p.produit.designation }}</td>
                    <td>{{ p.prix.PrixUnite }}</td>
                    <td>{{ p.prix.PrixVente }}</td>
                    <td>{{ p.qta }}</td>
                    <td>{%widthratio p.qta 1 p.prix.PrixUnite%}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <center class="text-white center h3"> TTC = {{TTC}} </center> 
    <form method = "POST" class="d-flex text-white flex-wrap justify-content-center align-items-center gap-3 mt-5">
        {%csrf_token%}
        {{form.as_div}}
    <button type= "submit" class="btn btn-light">Confirmer</button>
   </form>
</div>

</body>
{% endblock content %}