{% extends 'base.html' %}
{% block title %}Fournisseurs{% endblock title %}

{% block content %}
<body class= "bg-primary bg-gradient">
  <div class="container py-5">
  <header class="text-center text-white">
    <h1 class="display-4">Liste des Fournisseurs</h1>
  </header>
  <div class="row py-5">
    <div class="col-lg-10 mx-auto">
      <div class="card rounded shadow border-0">
        <div class="card-body p-5 bg-white rounded">
          <div class="table-responsive">
            <table id="search" style="width:100%" class="table table-striped table-bordered">
              <thead>
                <tr>
                    <th>nom</th>
                    <th>prenom</th>
                    <th>adresse</th>
                    <th>phone</th>
                    <th>solde</th>
                </tr>
              </thead>
              <tbody>
                {% for fournisseur in fournisseurs %}
                <tr>
                    <td>{{ fournisseur.nom }}</td>
                    <td>{{ fournisseur.prenom }}</td>
                    <td>{{ fournisseur.adresse }}</td>
                    <td>{% firstof fournisseur.phone "" %}</td>
                    <td>{{ fournisseur.solde }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
{% endblock content %}