{% extends 'base.html' %}
{% block title %}Produit facture{% endblock title %}

{% block content %}
<div class="green text-white maincontent">
<center class="p-4 h2">
    {{msg}}
</center>

<form method ="POST" class="d-flex flex-column  flex-wrap justify-content-center align-items-center gap-3 mt-5">
    {% csrf_token %}
    <div>
    <label for="pr">Produit : </label>
    <input type="text" list="designation_list" class="form-control" style="width : fit-content" name = "designation" id = "pr" autocomplete="off">
    <datalist id="designation_list">
    <select>
        {% for option in choices %}
        <option value="{{option.0}}">{{ option.1 }}</option>
        {% endfor %}
    </select>
    </datalist>
    </div>
    {%for field in form_prix%}
        <div class="form-group">
          <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
          {{field}}
        </div>
       {%endfor%}
    {%for field in form_avoir%}
        <div class="form-group">
          <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
          {{field}}
        </div>
       {%endfor%}
    <button type = "submit" class="btn btn-primary">ajouter</button>
    <a href = "{%url 'facture' id%}" class="btn btn-warning">finaliser la facture</a> 
</form>
</div>
{% endblock content %}