
 <form method="GET">
        {{form.as_p}}
        <button type="submit">rechercher</button>
    </form>

<table border="1">
        <thead>
            <th>Designation</th>
            <th>PrixUnite</th>
            <th>PrixVente</th>
            <th>Quantité</th>
        </thead>
        {% for p in produits %}
            <tbody>
                <td>{{ p.produit.designation }}</td>
                <td>{{ p.Prix.PrixUnite }}</td>
                <td>{{ p.Prix.PrixVente }}</td>
                <td>{{ p.Qtp }}</td>
               <td><a href=" {% url 'quantiteproduit' idV p.id %}">choisir</a></td>
            </tbody>
        {% endfor %}
</table>

<a href="{% url "payementvente" idV %}"> finaliser </a>