{% extends 'base.html' %}

{% block content %}
<div class="background-light maincontent">
  {%if ventes%}
  <div class="container py-5">
  <header class="text-center ">
    <h1 class="display-4">Liste des achats impaye</h1>
  </header>
  <form method="POST" action ="{%url 'sauvregV' idC date %}">
                {%csrf_token%}
  <div class="row py-5">
    <div class="col-lg-10 mx-auto">
      <div class="card rounded shadow border-0">
        <div class="card-body p-5 bg-white rounded">
          <div class="table-responsive">
            <table id="noSearch" style="width:100%" class="table table-striped table-bordered">
              <thead>
                <tr>
                        <th>id</th>
                        <th>date Vente</th>
                        <th>Somme Restante</th>
                        <th>Reglement</th>
                </tr>
              </thead>
              <tbody>
                {% for v in ventes %}
                <tr>
                <td>{{ v.id }}</td>
                <td>{{ v.Date}}</td>
                <td>{{ v.restant }}</td>
                <td><input type="number" name="valeur[]" max= {{v.restant}} min=0 value=0 step ="0.01"></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <button type= "submit" class="btn btn-primary">submit </button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%else%}
<div class="d-flex flex-column align-items-center justify-content-center gap-5  h-100">
    <h3>le client n'a aucun credit</h3>
    <a href="{%url "reglementvente"%}" class="btn btn-danger">retour</a>
</div>
{%endif%}
</div>
{% endblock content %}
