{%load static%}
<head>
<!-- link to compiled css file-->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{%static 'custom.css' %}"/>
</head>

<center>
    Bonjour veuillez saisir la facture


<form method="POST">
    {% csrf_token %}
    <div class="form-group m-4 w-50">
    {{form.numero.label}}
    {{form.numero}}
    </div>
    <div class="form-group m-4">
    {{form.date.label}}
    {{form.date}}
    </div>
    <div class="form-group m-4 w-50">
    {{form.fournisseur.label}}
    {{form.fournisseur}}
    </div>
<button type ="submit"  class="btn btn-primary m-4" >Ajouter des produits</button>
</form>
</center>