{% extends 'base.html' %}

{% block content %}

<body class ="green">
  <div class="container py-5">
  <header class="text-center text-white">
    <h1 class="display-4">Selectionner un client : </h1>
  </header>
  
  <div class="row py-5">
    <div class="col-lg-10 mx-auto">
      <div class="card rounded shadow border-0">
        <div class="card-body p-5 bg-white rounded">
          <div class="table-responsive">
            <table id="dernier" style="width:100%" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Prenom</th>
                  <th>adresse</th>
                  <th>telephone</th>
                  <th>credit</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for client in clients %}
                <tr>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.credit }}</td>
                <td><a href=" {% url 'saisirproduit' client.id %}" class="btn btn-primary btn-sm">choisir</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center text-white gap-3 mt-2">
      <span>si le client n'existe pas :</span> 
      <a href="{%url "creeclientV" %}" class="btn btn-secondary btn-sm">Cree un client</a>
      </div>
    </div>
  </div>
</div>

</body>
{% endblock content %}