<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sortie Stock</title>
</head>
<body>
    <h1>Sortie Stock</h1>
    <table border="1">
        <thead>
            <th>Date</th>
            <th>Motif</th>
            <th>Quantité Déstocké</th>
            <th>CodeP</th>
            <th>Prix Unité</th>
            <th>Prix Vente</th>
        </thead>
        <tbody>
            {% for s in sorties %}
            <tr>
                <td>{{ s.date }}</td>
                <td>{{ s.motif }}</td>
                <td>{{ s.qt }}</td>
                <td>{{ s.stock.produit_id }}</td>
                <td>{{ s.stock.Prix.PrixUnite }}</td>
                <td>{{ s.stock.Prix.PrixVente }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">envoyer</button>
    </form>
</body>
</html>