<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock</title>
</head>
<body>
    <h1>Stock : </h1>
    <form action="" method="get">
        {{ form }}
        <input type="submit" value="effectuer">
    </form>
    <table border="1">
        <thead>
            <th>CodeP</th>
            <th>Designation</th>
            <th>PrixUnite</th>
            <th>PrixVente</th>
            <th>Quantité</th>
            <th></th>
        </thead>
        {% for p in produits %}
            <tbody>
                <td>{{ p.produit.CodeP }}</td>
                <td>{{ p.produit.designation }}</td>
                <td>{{ p.prix.PrixUnite }}</td>
                <td>{{ p.prix.PrixVente }}</td>
                <td>{{ p.qt }}</td>
                <td><a href=" {% url 'ajusterstock' p.produit.CodeP p.prix.id %}">ajuster</a>
                <a href="{% url 'déstocker' p.s %}" {%if p.qt <= 0%} style = "pointer-events : none; color:gray;" {%endif%}>déstocker</a></td>
            </tbody>
        {% endfor %}
    </table>
    <span><strong>Total achat : </strong> {{ Total_achat }} 
          <strong>Total vente : </strong> {{ Total_vente }}</span> <br>
    <span><strong>benefice : </strong>{{ benefice }} </span>
</body>
</html>
<!--
    filtre possibles:
-->