html,body {
    height: 100%;
    margin : 0;
}
.date {
    width : fit-content;
}

.green {
    background-color: rgb(71, 103, 99);
}

.light_green{
  background-color: rgb(147, 252, 192);
}


.max_content {
    width: max-content;
}

.maincontent {
    height:100%;
}
